<% layout('layouts/boilerplate')%>
<p>
<b>Responsable: </b>
<%= invoice.responsable.username %>
<%= invoice.invoice.length %>
</p>
            <form id="proformForm" class="form-inline">
                
                <% for (let linia of invoice.invoice) {  %>
                   
                    
                
                   
                        <input type="text"  style="width:20%"   name="naturalesaPre" id="naturalesaPre"
                            placeholder=" <%= linia[0] %>">
                        <input type="text" style="width:20%" class="col-2"  name="tipusPre" id="tipusPre"
                            placeholder=" <%= linia[1]  %>">
                        <input type="text" style="width:20%" class="col-2" name="invoicePre" id="invoicePre"
                            placeholder="<%= linia[2] %>">
                        <input type="number" style="width:5%" class="col-1"  name="quantitatPre" id="quantitatPre"
                            placeholder="<%= linia[3] %>">
                        <input type="number" style="width:5%" class="col-1"  step="0.01" name="preuPre" id="preuPre"
                            placeholder="<%= linia[4] %>">
                        <input type="number" style="width:5%" class="col-1"  step="0.01" name="ivaPre" id="ivaPre"
                            placeholder="<%= linia[5] %>">
                        <input type="text" style="width:19%" class="col-2"  name="ubicacioPre" id="ubicacioPre"
                            placeholder="<%= linia[6] %>">

                            <% } %>
                        
                
                

            </form>




            <div class="card-body">
                <h5 class="card-title">
                    <%= invoice.nom %>
                </h5>
                <p class="card-text">
                    <%= invoice.descripcio %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                </li>
                <li class="list-group-item text-muted"><b>Zona: </b>
                    <%= invoice.zona %>
                </li>
                <li class="list-group-item text-muted"><b>Planta: </b>
                    <%= invoice.planta %>
                </li>
                <li class="list-group-item text-muted"><b>Àrea: </b>
                    <%= invoice.area %>
                </li>
                <li class="list-group-item text-muted"><b>Unitat: </b>
                    <%= invoice.unitat %>
                </li>
                <li class="list-group-item text-muted"><b>Planta: </b>
                    <%= invoice.planta %>
                </li>
                <li class="list-group-item text-muted"><b>Preu de cost: </b>
                    <%= invoice.preu %>€
                </li>
            </ul>
            <% if( currentUser && invoice.responsable.equals(currentUser.id)) { %>
                <div class="card-body">
                    <a href="/invoices/<%=invoice.id%>/edit" class="card-link btn btn-info" class="card-link">Editar
                        Invoice</a>
                    <form class="d-inline" action="/invoices/<%=invoice._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Esborrar Invoice</button>
                    </form>
                </div>
                <% } %>
                    <div class="card-footer text-muted">
                        <a href="/invoices">Tots els invoices</a>
                    </div>
        </div>
    </div>
    