<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Editar planta</h1>
        <div class="col-6 offset-3">
            <form action="/plantas/<%=planta._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="nom">Nom Planta</label>
                    <input class="form-control" type="text" id="nom" name="planta[nom]" value="<%=planta.nom %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="planta">Ubicació</label>
                    <input class="form-control" type="text" id="planta" name="planta[planta]" required
                        value="<%= planta.planta%>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="imatge">Imatge Url</label>
                    <input class="form-control" type="text" id="imatge" name="planta[imatge]"
                        value="<%= planta.imatge%>">
                </div>



                <div class="mb-3">
                    <label class="form-label" for="preu">Preu de cost</label>
                    <div class="input-group">
                        <span class="input-group-text" id="preu-label">€</span>
                        <input type="number" min="0"  step="0.01" class="form-control" name="planta[preu]" id="preu"
                            placeholder="0.00" value="<%= planta.preu%>" aria-label="preu"
                            aria-describedby="preu-label" required>
                    </div>

                </div>


                <div class="mb-3">
                    <label class="form-label" for="descripcio">Descripció</label>
                    <textarea class="form-control" type="text" id="descripcio" required
                        name="planta[descripcio]"><%= planta.descripcio%></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Modifica planta</button>
                </div>
            </form>
            <a href="/plantas">Totes els Plantas</a>
        </div>
    </div>