<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Editar zona</h1>
        <div class="col-6 offset-3">
            <form action="/zonas/<%=zona._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="nom">Nom Zona</label>
                    <input class="form-control" type="text" id="nom" name="zona[nom]" value="<%=zona.nom %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="zona">Ubicació</label>
                    <input class="form-control" type="text" id="zona" name="zona[zona]" required
                        value="<%= zona.zona%>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="imatge">Imatge Url</label>
                    <input class="form-control" type="text" id="imatge" name="zona[imatge]"
                        value="<%= zona.imatge%>">
                </div>



                <div class="mb-3">
                    <label class="form-label" for="preu">Preu de cost</label>
                    <div class="input-group">
                        <span class="input-group-text" id="preu-label">€</span>
                        <input type="number" min="0"  step="0.01" class="form-control" name="zona[preu]" id="preu"
                            placeholder="0.00" value="<%= zona.preu%>" aria-label="preu"
                            aria-describedby="preu-label" required>
                    </div>

                </div>


                <div class="mb-3">
                    <label class="form-label" for="descripcio">Descripció</label>
                    <textarea class="form-control" type="text" id="descripcio" required
                        name="zona[descripcio]"><%= zona.descripcio%></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Modifica zona</button>
                </div>
            </form>
            <a href="/zonas">Totes els Zonas</a>
        </div>
    </div>