<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Editar item</h1>
        <div class="col-6 offset-3">
            <form action="/items/<%=item._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="nom">Nom Item</label>
                    <input class="form-control" type="text" id="nom" name="item[nom]" value="<%=item.nom %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="unitat">Ubicació</label>
                    <input class="form-control" type="text" id="unitat" name="item[unitat]" required
                        value="<%= item.unitat%>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="imatge">Imatge Url</label>
                    <input class="form-control" type="text" id="imatge" name="item[imatge]"
                        value="<%= item.imatge%>">
                </div>



                <div class="mb-3">
                    <label class="form-label" for="preu">Preu de cost</label>
                    <div class="input-group">
                        <span class="input-group-text" id="preu-label">€</span>
                        <input type="number" min="0"  step="0.01" class="form-control" name="item[preu]" id="preu"
                            placeholder="0.00" value="<%= item.preu%>" aria-label="preu"
                            aria-describedby="preu-label" required>
                    </div>

                </div>


                <div class="mb-3">
                    <label class="form-label" for="descripcio">Descripció</label>
                    <textarea class="form-control" type="text" id="descripcio" required
                        name="item[descripcio]"><%= item.descripcio%></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Modifica item</button>
                </div>
            </form>
            <a href="/items">Tots els Items</a>
        </div>
    </div>